<div class="center" id="langstats">
  <div>
    <h1>Mono-Alphabetic Substitution Cipher Analyzer</h1>
    <label>Alphabetic Frequencies of Languages</label>
    <%= render 'shared/langstats' %>
  </div>
  <div>
    <label>Alphabetic Frequency of Ciphertext</label>
    <div class="freqtable center">
      <table class="table table-bordered">
        <tr>
          <th>Language</th>
          <% ('A'..'Z').each do |a| %>
            <th><%= a %></th>
            <% end %>
          </tr>
          <tr>
            <td>Cipher</td>
            <% @cipherstat.each do |key , value| %>
            <td><%= '%.2f' % value %>%</td>
            <% end %>
          </tr>
        </table>
    </div>
  </div>
</div>
<div id="ciphertext">
  <label>Ciphertext</label>
  <div class="jumbotron">
    <p> <%= @ciphertext %> </p>
  </div>
</div>
<div class="center">
  <label>Substitution</label>
  <%= form_tag ("/cipher/edit") do %>
    <table class="table table-bordered" id = "substable">
      <tr>
        <% ('A'..'Z').each do |a| %>
          <th><%= a %></th>
        <% end %>
      </tr>
      <tr>
        <% if (@subs.nil?) then %>
          <% ('A'..'Z').each do |a| %>
            <td><%= text_field_tag(a, "#{a}") %></td>
          <% end %>
          <% else %>
            <% @subs.each do |key, value| %>
              <td><%= text_field_tag(key, "#{value}") %></td>
            <% end %>
        <% end %>
      </tr>
    </table>
    <%= submit_tag("Substitute") %>
  <% end %>
</div>
