<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> @ MASCA</title>
    <!--prevents cross-site request forgery-->
    <%= csrf_meta_tags %>

    <!-- arrange css/js -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation Bar -->
    <%= render 'layouts/header' %>
    <!-- Main Body -->
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
